body {
  height: 100vh;
  display: flex;
  font-family: "Ubuntu", sans-serif;
}

.settings-wrapper {
  background-color: #0097e6;
  width: 28%;
  display: flex;
  flex-direction: column;
}

.players-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.player-name {
  width: 80%;
  height: 48px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #828282;
  padding-left: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 0px;
  outline: none;
}

.player-name2 {
  margin-top: 20px;
}

.player-name:focus {
  box-shadow: 0 0 5px #00000086;
}

.board-wrapper {
  background-color: #2baaeaab;
  width: calc(100% - 28% - 28%);
}

.play-history-wrapper {
  background-color: #0097e6;
  width: 28%;
}
